**/*.o
**/.deps/
**/.dirstamp
*~
.pc/
Makefile
Makefile.am
Makefile.in
aclocal.m4
autom4te.cache/
build-stamp
compile
config.guess
config.log
config.status
config.sub
configure
debian/*.log
debian/*.substvars
debian/files
debian/metalink/
depcomp
install-sh
metalink
missing
